*/PASSWORD*
athena-test.com/*SECRET_KEY.txt
blackbox/access_key.txt
blackbox/key_id.txt
blackbox/webhook.txt
commons/GHCR_TOKEN.txt
forum.quiltmc.org/DEVELOPER_EMAILS.txt
forum.quiltmc.org/SMTP*
forum.quiltmc.org/S3*
gurkbot/token.txt
gurkbot/wolfram_api_key.txt
luna/token.txt
mtls/*.key
redis/redis.conf
*kubeconfig.y*ml
.idea